starter_height = 50px
color-picker_width = 10px
input_padding = 15px


$reset_input
	border 0
	outline 0

.starter
	width 95%
	margin 0 auto
	height starter_height
	background-color white
	border-radius 5px
	box-shadow 0 0 30px alpha(theme_main_color, .3)

	&__color-picker
		size color-picker_width starter_height

	&__input
		@extend $reset_input
		padding-left (color-picker_width + input_padding)
		padding-right input_padding
		width 85%
		box-sizing border-box
		border-radius 5px 0 0 5px

	&__submit
		@extend $reset_input
		size 15% starter_height
		color white
		background-color theme_main_color
		border-radius 0 5px 5px 0

	&__rate
		margin-left 30px
		padding 5px 15px
		display inline-block
		background theme_rate_color
		border-bottom-left-radius 5px
		border-bottom-right-radius 5px

		input
			width 40px
			text-align right
			background-color transparent
			border 0
			outline 0

