theme_main_color ?= #6f5ab0
theme_dark_color ?= #473f4e
theme_bg_color ?= #f1eff5
theme_gray_color ?= #afb2b4
theme_dark_gray_color ?= #818485
theme_li_shadow ?= 0 0 10px alpha(#4c3e6c, .1)
theme_red_color ?= #fe2b68
theme_rate_color ?= #cdbff8

animation_fast = .3s
