@import 'normalize-styl/normalize'

@import 'modules/variables'
@import 'modules/color-picker'
@import 'modules/header'
@import 'modules/starter'
@import 'modules/timer'
@import 'modules/undo-panel'

body
	font-family "Open Sans", Helvetica, sans-serif
	font-weight 300
	color theme_dark_color
	background-color theme_bg_color

#container
	margin 0 auto
	max-width 900px
	min-width 500px
